body {
  font-family: 'Lato', 'Helvetica'; }

.default.category2 main {
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 70vh;
  margin-top: 0; }
  .default.category2 main .category {
    margin-top: 0;
    color: white;
    position: relative;
    top: 120px; }
    .default.category2 main .category .wrapper {
      border: 0; }
      .default.category2 main .category .wrapper .item-heading-wrapper {
        border-bottom: 0; }
      .default.category2 main .category .wrapper .crumbs .crumb {
        color: white; }
      .default.category2 main .category .wrapper .item-name {
        font-size: 2rem;
        border-bottom: 3px double white;
        padding-bottom: 20px;
        margin-bottom: 20px; }
      .default.category2 main .category .wrapper .category-list {
        list-style: none;
        margin: 0;
        padding: 0; }

.navbar {
  padding: .5rem 4rem;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 20px;
  z-index: 111;
  left: 0;
  right: 0; }
  .navbar .navbar-nav li a {
    letter-spacing: 1px;
    font-variant-caps: small-caps;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: white; }
    .navbar .navbar-nav li a:focus, .navbar .navbar-nav li a:hover {
      color: black;
      background-color: white;
      transition: background 600ms;
      padding-top: 5px;
      padding-bottom: 5px;
      text-shadow: none; }
  .navbar .navbar-nav li a.nav-item {
    color: white; }
    .navbar .navbar-nav li a.nav-item:focus, .navbar .navbar-nav li a.nav-item:hover {
      color: black;
      background-color: white; }
  .navbar .navbar-nav li a.dropdown-item {
    color: black; }
    .navbar .navbar-nav li a.dropdown-item:focus, .navbar .navbar-nav li a.dropdown-item:hover {
      color: white;
      background-color: black; }

.show-header .navbar {
  transition: all 500ms;
  position: fixed;
  top: 0 !important; }

.adjust-header .navbar {
  background: black;
  border-color: black;
  top: -100px; }

.nav-transparent {
  text-align: center;
  background: transparent;
  position: absolute;
  color: white;
  z-index: 2;
  right: 0;
  left: 0;
  font-size: 14px;
  text-shadow: 0 0 1px black;
  top: 40px; }
  .nav-transparent li {
    display: inline-block;
    padding: 0 10px;
    color: white; }
    .nav-transparent li a {
      color: white;
      padding: 10px;
      text-decoration: none;
      letter-spacing: 1px;
      font-variant-caps: small-caps;
      padding-top: 5px;
      padding-bottom: 5px; }
      .nav-transparent li a:focus, .nav-transparent li a:hover {
        color: black;
        background-color: white;
        transition: background 600ms;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-shadow: none; }
      .nav-transparent li a:after {
        margin-right: 10px; }

.hero-single {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: -ms-flexbox;
  display: flex; }
  .hero-single .hero-wrapper {
    text-align: center;
    color: white;
    margin: auto; }
    .hero-single .hero-wrapper .hero-brand {
      border: 3px solid white;
      margin-bottom: 40px;
      display: inline-block;
      padding: 49px 20px;
      border-radius: 100%; }
      .hero-single .hero-wrapper .hero-brand img {
        height: auto;
        width: 100px;
        display: block;
        margin: auto; }
      .hero-single .hero-wrapper .hero-brand .logo_icon {
        width: 200px; }
      .hero-single .hero-wrapper .hero-brand .breads_icon {
        width: 88px; }
  .hero-single .btn-secondary:hover {
    color: #ffffff;
    background-color: #0275d8;
    border-color: #004b8c; }

.hero-many {
  position: relative; }
  .hero-many .hero-carousel .slick-slide img {
    height: 100vh;
    width: 100%; }
  .hero-many .hero-carousel .slick-prev {
    height: auto;
    width: auto;
    z-index: 1;
    display: none;
    opacity: 0;
    left: 3%; }
    .hero-many .hero-carousel .slick-prev:before {
      content: "\f060";
      font: 40px/1 FontAwesome !important;
      font-size: 40px; }
  .hero-many .hero-carousel .slick-next {
    height: auto;
    width: auto;
    z-index: 1;
    display: none;
    opacity: 0;
    right: 3%; }
    .hero-many .hero-carousel .slick-next:before {
      content: "\f061";
      font: 40px/1 FontAwesome !important;
      font-size: 40px; }
  .hero-many .hero-carousel .slick-dots li button:before {
    font-size: 40px; }
  .hero-many .hero-carousel:hover .slick-prev,
  .hero-many .hero-carousel:hover .slick-next {
    opacity: 1;
    transition: all 500ms; }

.default.adjust-header .navbar {
  top: -100px; }

.default .navbar {
  background: black;
  top: 0; }

.default main {
  margin-top: 100px; }

.banner {
  text-align: center;
  padding: 3px 0;
  background: #ffb1b1;
  color: black;
  font-variant: small-caps; }
  .banner a {
    color: inherit; }
  .banner .banner-right {
    font-family: cursive;
    font-variant: normal; }

section.categories {
  background: ghostwhite;
  text-align: center;
  color: black;
  font-variant-caps: small-caps;
  font-size: 18px; }
  section.categories .heading {
    color: inherit;
    margin-top: 0; }
  section.categories li, section.categories ul {
    list-style: none;
    padding: 0; }
  section.categories li {
    display: inline-block;
    margin: 20px; }
    section.categories li .category-wrapper {
      background: white;
      padding: 0 32px 47px 32px;
      border: 1px solid #eee;
      box-shadow: 1px 2px 2px #eee; }
      section.categories li .category-wrapper a {
        color: inherit; }
      section.categories li .category-wrapper img {
        /* padding: 20px; */
        background: #fafafa;
        border: 1px solid #eee;
        box-shadow: 1px 2px 2px #eee;
        width: 200px; }
      section.categories li .category-wrapper .category-desc {
        display: none; }
      section.categories li .category-wrapper .category-name {
        color: inherit;
        transition: all 300ms;
        padding: 20px 0; }
      section.categories li .category-wrapper:hover {
        background: #fafafa; }
        section.categories li .category-wrapper:hover img {
          background: white; }

footer.row {
  margin: 0;
  background: black;
  color: white !important;
  font-variant-caps: small-caps;
  text-align: center; }
  footer.row .contact {
    list-style: none; }
    footer.row .contact li {
      margin: 10px; }
      footer.row .contact li a {
        color: white; }
        footer.row .contact li a:focus, footer.row .contact li a:active, footer.row .contact li a:hover {
          color: white; }

.img-gallery .slick-slide {
  padding-left: 40px;
  padding-right: 40px; }
  .img-gallery .slick-slide img {
    width: 100%;
    height: 80vh; }

.img-gallery .slick-prev {
  height: auto;
  width: auto;
  z-index: 1;
  display: none;
  left: 3%; }
  .img-gallery .slick-prev:before {
    content: "\f060";
    font: 40px/1 FontAwesome !important;
    font-size: 40px; }

.img-gallery .slick-next {
  height: auto;
  width: auto;
  z-index: 1;
  display: none;
  right: 3%; }
  .img-gallery .slick-next:before {
    content: "\f061";
    font: 40px/1 FontAwesome !important;
    font-size: 40px; }

.img-gallery .slick-dots li button:before {
  font-size: 40px; }

.img-gallery .slick-dotted.slick-slider {
  margin-bottom: 4%; }

.section-padding {
  padding-top: 4%;
  padding-bottom: 4%; }

.section-bg {
  background: #fafafa; }

.parallax {
  background-image: url("/img/parallax1.jpg");
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-attachment: fixed; }

.products {
  text-align: center;
  background: #fafafa; }
  .products li, .products ul {
    list-style: none;
    padding: 0; }
  .products li {
    display: inline-block;
    margin: 24px; }
  .products .heading {
    margin-top: 0;
    color: black;
    font-variant-caps: small-caps; }
  .products .product-wrapper {
    background: white;
    padding: 0 32px 47px 32px;
    border: 1px solid #eee;
    box-shadow: 1px 2px 2px #eee; }
    .products .product-wrapper img {
      padding: 20px;
      background: #fafafa;
      border: 1px solid #eee;
      box-shadow: 1px 2px 2px #eee;
      width: 200px; }
    .products .product-wrapper .product-desc {
      display: none; }
    .products .product-wrapper .product-name {
      color: black;
      font-variant-caps: small-caps;
      font-size: 18px;
      padding: 20px 0; }
    .products .product-wrapper:hover {
      background: #fafafa; }
      .products .product-wrapper:hover img {
        background: white; }

#searchModal {
  background: rgba(0, 0, 0, 0.7); }

#searchModal .modal-dialog {
  position: relative;
  top: 40%; }

#searchModal .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }

#search-inpt {
  width: 200px; }

.story {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%; }
  .story .welcome,
  .story .heading {
    color: black;
    font-variant-caps: small-caps; }
  .story .heading {
    padding-bottom: 10px; }
  .story .body {
    font-size: 18px; }

.category {
  text-align: center;
  font-variant-caps: small-caps;
  padding-bottom: 40px;
  margin-top: 25px; }
  .category .row {
    margin: 0;
    padding: 40px; }
  .category .wrapper {
    border: 1px solid #ccc; }
    .category .wrapper li a {
      color: inherit;
      font-size: 18px;
      text-decoration: none;
      font-variant-caps: small-caps; }
      .category .wrapper li a:hover, .category .wrapper li a:active, .category .wrapper li a:focus {
        color: inherit;
        font-weight: 600; }

.product-single {
  background: #fafafa;
  text-align: center;
  border: 1px solid #ccc;
  background: white;
  margin-bottom: 40px;
  margin-top: 25px; }
  .product-single .item {
    padding: 0 60px 60px 60px; }
    .product-single .item .specs .row {
      margin: 0;
      border-bottom: 1px solid #ccc; }

.item-heading-wrapper {
  padding: 20px 0;
  border-bottom: 4px double #ccc;
  margin-bottom: 20px; }

.item-description {
  overflow: hidden;
  padding-bottom: 30px; }

.item-img {
  padding: 30px;
  background: white;
  box-shadow: 3px 2px #fafafa, -3px -2px #fafafa;
  width: 100%; }

.item-name {
  font-size: 24px;
  font-variant-caps: small-caps; }

.crumbs {
  text-align: left; }
  .crumbs .crumb {
    text-decoration: none;
    color: black;
    font-variant-caps: small-caps; }
    .crumbs .crumb:hover, .crumbs .crumb:active, .crumbs .crumb:focus {
      color: inherit;
      font-weight: 600; }

.specs {
  padding: 0 40px; }
  .specs .specs-heading {
    padding: 20px 0;
    background: #f9fafb;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; }

/* admin pages */
.table-responsive,
.edit-story table,
.edit-story td,
.edit-story th,
.edit-category table,
.edit-category td,
.edit-category th {
  border: 0 !important; }

.show-category table,
.show-category td,
.show-category th {
  border: 0 !important; }

.stories .update,
.categories .update {
  margin-right: 20px; }

.edit-story textarea,
.stories textarea {
  height: 350px; }

.form-dummy {
  margin-top: 6px; }

.stories h4 {
  display: inline-block;
  padding-right: 20px; }

.stories .add-story {
  float: right; }

.stories .search-form {
  text-align: center;
  margin: 20px 0; }

.stories th a {
  color: #333; }

.stories #title-dummy {
  color: #eee;
  padding: 0 13px; }

.ta-c {
  text-align: center; }

.admin {
  padding-top: 71px; }

.search-icon {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  padding: 4px 10px;
  transition: background 600ms; }
  .search-icon:hover {
    background: white;
    color: black; }

.hero-btn {
  margin-top: 30px; }

@media (max-width: 767px) {
  .navbar {
    padding: .5rem 1rem; }
  .hero-heading {
    font-size: 20px;
    margin-top: 0; }
  #search-inpt {
    width: 100%; }
  .product-name {
    padding: 12px 0;
    font-size: 14px; }
  .product-wrapper img {
    padding: 0;
    width: 140px;
    height: auto; }
  .product-wrapper {
    padding: 0; }
  .products li {
    margin: 10px; }
  .story {
    padding-left: 5%;
    padding-right: 5%; }
  .slick-dotted.slick-slider {
    margin-bottom: 15%; }
  .section-padding {
    padding: 4%; }
  .img-gallery .slick-slide {
    padding-left: 0;
    padding-right: 0; }
  .img-gallery .slick-slide img {
    height: auto; }
  .feedback {
    margin-top: 40px; }
  .category-name {
    padding: 12px 0;
    font-size: 14px; }
  .category-wrapper img {
    padding: 0;
    width: 140px;
    height: auto; }
  .category-wrapper {
    padding: 0; }
  .categories li {
    margin: 10px; }
  .product-single .item {
    padding: 0; }
  .hero-single .hero-wrapper {
    text-shadow: 1px 1px #0c0c0c;
    font-size: 34px; }
    .hero-single .hero-wrapper .hero-brand {
      padding: 34px 20px; }
      .hero-single .hero-wrapper .hero-brand .breads_icon {
        width: 48px; }
      .hero-single .hero-wrapper .hero-brand .logo_icon {
        width: 100px; }
  .search-wrapper {
    display: block; } }

/*# sourceMappingURL=app.css.map */
