
body {
    font-family: 'Lato', 'Helvetica';
}


// floating nav (master nav)
.navbar {
    background-color: black;
    border-color: black;
    .navbar-nav {
        li {
            a {
                color: white;
                letter-spacing: 1px;
                font-variant-caps: small-caps;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 10px;
                &:focus, &:hover {
                    color: black;
                    background-color: white;
                    transition: background 600ms;
                    margin-top: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-shadow: none;
                }
            }
        }
    }
}
.hide-header {
    .navbar {
        display: none;
    }
}

// transparent nav
.nav-transparent {
    text-align: center;
    background: transparent;
    position: absolute;
    color: white;
    z-index: 2;
    right: 0;
    left: 0;
    font-size: 14px;
    text-shadow: 0 0 1px black;
    top: 40px;
    li {
        display: inline-block;
        padding: 0 10px;
        color: white;
         a {
            color: white;
            padding: 10px;
            text-decoration: none;
            letter-spacing: 1px;
            font-variant-caps: small-caps;
            padding-top: 5px;
            padding-bottom: 5px;
            &:focus, &:hover {
                color: black;
                background-color: white;
                transition: background 600ms;
                margin-top: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-shadow: none;
            }
        }
    }
}


// hero
.hero-single {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    .hero-wrapper {
        position: relative;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        margin: auto;
        .hero-brand {
            padding-bottom: 40px;
            img {
                 height: 100px;
                 width: 300px;
            }
        }
    }
}


.hero-many {
    position: relative;
    .hero-carousel {
        .slick-slide {
            img {
                height: 100vh;
                width: 100%;
            }
        }
        .slick-prev {
            height: auto;
            width: auto;
            z-index: 1;
            display: none;
            opacity: 0;
            left: 3%;
            
            &:before {
                content: "\f060";
                font: 40px/1 FontAwesome !important;
                font-size: 40px;
            }
        }
        .slick-next {
            height: auto;
            width: auto;
            z-index: 1;
            display: none;
            opacity: 0;
            right: 3%;
            
            &:before {
                content: "\f061";
                font: 40px/1 FontAwesome !important;
                font-size: 40px;
            }
        }
        .slick-dots {
            li {
                button {
                    &:before {
                        font-size: 40px;
                    }
                }
            }
        }
        &:hover {
            .slick-prev,
            .slick-next {
                opacity: 1;
                transition: all 500ms;
            }
        }
    }
}




.default main {
    margin-top: 72px;
}
.banner {
    text-align: center;
    padding: 3px 0;
    background: #ffb1b1;
    color: black;
    font-variant: small-caps;
     a {
        color: inherit;
    }
    .banner-right {
        font-family: cursive;
        font-variant: normal;
    }
}


section.categories {
    text-align: center;
    color: black;
    font-variant-caps: small-caps;
    font-size: 18px;
    .heading {
        color: inherit;
        margin-top: 0;
    }
    li, ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 20px;
        .category-wrapper {
            background: white;
            padding: 0 32px 47px 32px;
            border: 1px solid #eee;
            box-shadow: 1px 2px 2px #eee;
            a {
                color: inherit;
            }
            img {
                padding: 20px;
                background: #fafafa;
                border: 1px solid #eee;
                box-shadow: 1px 2px 2px #eee;
                width: 200px;
            }
            .category-desc {
                display: none;
            }
            .category-name {
                color: inherit;
                transition: all 300ms;
                padding: 20px 0;
            }
            &:hover {
                background: #fafafa;
                img {
                    background: white;
                }
            }
        }
    }
}


footer {
    background: black;
    color: white !important;
    font-variant-caps: small-caps;
    text-align: center;
    .contact {
        list-style: none;
        li {
            margin: 10px;
            a {
                color: white;
                &:focus,
                &:active,
                &:hover {
                    color: white;
                }
            }
        }
    }
}



.img-gallery {
     .slick-slide {
        padding-left: 40px;
        padding-right: 40px;
        img {
            width: 100%;
            height: 80vh;
        }
    }
    .slick-prev {
        height: auto;
        width: auto;
        z-index: 1;
        display: none;
        left: 3%;
        &:before {
            content: "\f060";
            font: 40px/1 FontAwesome !important;
            font-size: 40px;
        }
    }
    .slick-next {
        height: auto;
        width: auto;
        z-index: 1;
        display: none;
        right: 3%;
        &:before {
            content: "\f061";
            font: 40px/1 FontAwesome !important;
            font-size: 40px;
        }
    }
    .slick-dots {
        li {
            button {
                &:before {
                    font-size: 40px;
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 4%;
    }

}


.section-padding {
    padding-top: 8%;
    padding-bottom: 8%;
}
.section-bg {
    background: #fafafa;
}


.parallax {
    background-image: url('/img/parallax1.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-attachment: fixed;
}


.products {
    text-align: center;
    background: #fafafa;
    li, ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 24px;
    }
    .heading {
        margin-top: 0;
        color: black;
        font-variant-caps: small-caps;
    }
    .product-wrapper {
        background: white;
        padding: 0 32px 47px 32px;
        border: 1px solid #eee;
        box-shadow: 1px 2px 2px #eee;
        img {
            padding: 20px;
            background: #fafafa;
            border: 1px solid #eee;
            box-shadow: 1px 2px 2px #eee;
            width: 200px;
        }
        .product-desc {
            display: none;
        }
        .product-name {
            color: black;
            font-variant-caps: small-caps;
            font-size: 18px;
            padding: 20px 0;
        }
        &:hover {
            background: #fafafa;
            img {
                background: white;
            }
        }
    }
}



#search-inpt {
    width: 200px;
}


.story {
    z-index: 1;
    position: relative;
    text-align:center;
    padding-left: 30%;
    padding-right: 30%;
    .welcome,
    .heading {
        color: black;
        font-variant-caps: small-caps;
    }
    .heading {
        padding-bottom: 10px;
    }
    .body {
        font-size: 18px;
    }
}


.category {
    text-align: center;
    font-variant-caps: small-caps;
    padding-bottom: 40px;
    margin-top: 25px;
    .row {
        margin: 0;
        padding: 40px;
    }
    .wrapper {
        border: 1px solid #ccc;
        li {
            a {
                color: inherit;
                font-size: 18px;
                text-decoration: none;
                font-variant-caps: small-caps;
                &:hover,
                &:active,
                &:focus {
                    color: inherit;
                    font-weight: 600;
                }
            }
        }
    }
}

.product-single {
    background: #fafafa;
    text-align: center;
    border: 1px solid #ccc;
    background: white;
    margin-bottom: 40px;
    margin-top: 25px;
    .item {
        padding: 0 60px 60px 60px;
        .specs {
            .row {
                margin: 0;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

.item-heading-wrapper {
    padding: 20px 0;
    border-bottom: 4px double #ccc;
    margin-bottom: 20px;
}

.item-description {
    padding-bottom: 30px;
}

.item-img {
    padding: 30px;
    background: white;
    box-shadow: 3px 2px #fafafa, -3px -2px #fafafa;
    width: 100%;
}

.item-name {
    font-size: 24px;
    font-variant-caps: small-caps;
}

.crumbs {
    text-align: left;
    .crumb {
        text-decoration: none;
        color: black;
        font-variant-caps: small-caps;
        &:hover,
        &:active,
        &:focus {
            color: inherit;
            font-weight: 600;
        }
    }
}

.specs {
    padding: 0 40px;
    .specs-heading {
        padding: 20px 0;
        background: #f9fafb;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
}


/* admin pages */
.table-responsive,
.edit-story table,
.edit-story td,
.edit-story th,
.edit-category table,
.edit-category td,
.edit-category th {
    border: 0 !important;
}
.show-category table,
.show-category td,
.show-category th {
    border: 0 !important;
}
.stories .update,
.categories .update {
    margin-right: 20px;
}
.edit-story textarea,
.stories textarea {
    height: 350px;
}
.form-dummy {
    margin-top: 6px;
}
.stories {
    h4 {
        display: inline-block;
        padding-right: 20px;
    }
    .add-story {
        float: right;
    }
    .search-form {
        text-align: center;
        margin: 20px 0;
    }
    th {
        a {
            color: #333;
        }
    }
    #title-dummy {
        color: #eee;
        padding: 0 13px;
    }
}
.ta-c {
    text-align: center;
}
.admin {
    padding-top: 71px;
}


.search-icon {
    color: white;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    line-height: 32px;
}

.hero-btn {
    margin-top: 30px;
}
@media (max-width : 767px) {
    .hero-heading {
        font-size: 20px;
        margin-top: 0;
    }
    #search-inpt {
        width: 100%;
    }
    .product-name {
        padding: 12px 0;
        font-size: 14px;
    }
    .product-wrapper img {
        padding: 0;
        width: 140px;
        height: auto;
    }
    .product-wrapper {
        padding: 0;
    }
    .products li {
        margin: 10px;
    }
    .story {
        padding-left: 5%;
        padding-right: 5%;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 15%;
    }
    .hero-wrapper {
        text-shadow: 1px 1px rgb(12, 12, 12);
        font-size: 35pt;
        padding: 15px 15px 15px 44px;
    }
    .hero-brand:after {
        left: 2px;
        top: 2px;
    }
    .section-padding {
        padding: 4%;
    }
    .img-gallery .slick-slide {
        padding-left: 0;
        padding-right: 0;
    }
    .img-gallery .slick-slide img {
        height: auto;
    }
    .feedback {
        margin-top: 40px;
    }
    .category-name {
        padding: 12px 0;
        font-size: 14px;
    }
    .category-wrapper img {
        padding: 0;
        width: 140px;
        height: auto;
    }
    .category-wrapper {
        padding: 0;
    }
    .categories li {
        margin: 10px;
    }
    .product-single .item {
        padding: 0;
    }
    .hero-wrapper {
        font-size: 30px;
    }
    .hero-brand {
        font-size: 40px;
    }
    .search-icon {
        display: none;
    }
    .search-wrapper {
        display: block;
    }
}