
body {
    font-family: 'Lato', 'Helvetica';
}


// floating nav (master nav)
.default.category2 {
    main {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 70vh;
        margin-top: 0;
        .category {
            margin-top: 0;
            color: white;
            position: relative;
            top: 120px;
            .wrapper {
                border: 0;
                .item-heading-wrapper {
                    border-bottom: 0;
                }
                .crumbs {
                    .crumb {
                        color: white;
                    }
                }
                .item-name {
                    font-size: 2rem;
                    margin-bottom: 20px;
                }
                .category-list {
                    border-top: 3px double white;
                    padding: 20px 0 0 0;
                    list-style: none;
                    margin: 0;
                    li {
                        padding: 10px 20px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .navbar {
        background: transparent;
        border-color: transparent;
    }
}
.default.category2.adjust-header {
    .navbar {
        background: rgba(0,0,0,0.9);
        border-color: black;
        .collapsing,
        .collapse.show {
            background: transparent;
        }
    }
}
.navbar {
    padding: .5rem 4rem;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 20px;
    z-index: 111;
    left: 0;
    right: 0;
    .navbar-toggler {
        padding: 10px;
        border: 1px solid white;
        margin-top: 3px;
        .fa-bars {
            color: white;
        }
    }
    .collapsing,
    .collapse.show {
        background: black;
        transition: 0s;
        .search-icon {
            padding: 10px;
            display: block;
        }
        .navbar-nav {
            li {
                a {
                    padding: 10px;
                }
            }
        }
    }
    .navbar-nav {
        li {
            a {
                letter-spacing: 1px;
                font-variant-caps: small-caps;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 14px;
                color: white;
                &:focus, &:hover {
                    color: black;
                    background-color: white;
                    transition: background 600ms;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-shadow: none;
                }
            }
            a.nav-item {
                color: white;
                &:focus, &:hover {
                    color: black;
                    background-color: white;
                }
            }
            a.dropdown-item {
                color: black;
                &:focus, &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}
.show-header {
    .navbar {
        transition: all 500ms;
        position: fixed;
        top: 0 !important;
    }
}
.adjust-header {
    .navbar {
        background: rgba(0,0,0,0.9);;
        border-color: black;
        top: -100px;
    }
}

// transparent nav
.nav-transparent {
    text-align: center;
    background: transparent;
    position: absolute;
    color: white;
    z-index: 2;
    right: 0;
    left: 0;
    font-size: 14px;
    text-shadow: 0 0 1px black;
    top: 40px;
    li {
        display: inline-block;
        padding: 0 10px;
        color: white;
         a {
            color: white;
            padding: 10px;
            text-decoration: none;
            letter-spacing: 1px;
            font-variant-caps: small-caps;
            padding-top: 5px;
            padding-bottom: 5px;
            &:focus, &:hover {
                color: black;
                background-color: white;
                transition: background 600ms;
                margin-top: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-shadow: none;
            }
            &:after {
                margin-right: 10px;
            }
        }
    }
}


// hero
.hero-single {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    .hero-wrapper {
        text-align: center;
        color: white;
        margin: auto;
        .hero-brand {
            border: 3px solid white;
            margin-bottom: 40px;
            display: inline-block;
            padding: 49px 20px;
            border-radius: 100%;
            img {
                height: auto;
                width: 100px;
                display: block;
                margin: auto;
            }
            .logo_icon {
                width: 200px;
            }
            .breads_icon {
                width: 88px;
            }
        }
    }
    .hero-btn {
        color: #ffffff;
        background-color: #0275d8;
        border-color: #004b8c;
        &:hover, &:focus {
            outline: 0;
            background-color: #004b8c;
            border-color: #004b8c;
        }
    }
}


.hero-many {
    position: relative;
    .hero-carousel {
        .slick-slide {
            img {
                height: 100vh;
                width: 100%;
            }
        }
        .slick-prev {
            height: auto;
            width: auto;
            z-index: 1;
            display: none;
            opacity: 0;
            left: 3%;
            
            &:before {
                content: "\f060";
                font: 40px/1 FontAwesome !important;
                font-size: 40px;
            }
        }
        .slick-next {
            height: auto;
            width: auto;
            z-index: 1;
            display: none;
            opacity: 0;
            right: 3%;
            
            &:before {
                content: "\f061";
                font: 40px/1 FontAwesome !important;
                font-size: 40px;
            }
        }
        .slick-dots {
            li {
                button {
                    &:before {
                        font-size: 40px;
                    }
                }
            }
        }
        &:hover {
            .slick-prev,
            .slick-next {
                opacity: 1;
                transition: all 500ms;
            }
        }
    }
}

.default.adjust-header {
    .navbar {
        top: -100px;
    }
}
.default.product-page,
.default.admin-page,
.default.login-page,
.default.search-page {
    .navbar {
        top: 0;
    }
}
.default {
    .navbar {
        background: rgba(0,0,0,0.9);
    }
    main {
        margin-top: 100px;
    }
}

.banner {
    text-align: center;
    padding: 3px 0;
    background: #ffb1b1;
    color: black;
    font-variant: small-caps;
     a {
        color: inherit;
    }
    .banner-right {
        font-family: cursive;
        font-variant: normal;
    }
}


section.categories {
    background: ghostwhite;
    text-align: center;
    color: black;
    font-variant-caps: small-caps;
    font-size: 18px;
    position: relative;
    z-index: 1;
    .heading {
        color: inherit;
        margin-top: 0;
    }
    li, ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 20px;
        .category-wrapper {
            background: white;
            padding: 0 32px 47px 32px;
            border: 1px solid #eee;
            box-shadow: 1px 2px 2px #eee;
            a {
                color: inherit;
            }
            img {
                /* padding: 20px; */
                background: #fafafa;
                /*border: 1px solid #eee;*/
                /*box-shadow: 1px 2px 2px #eee;*/
                width: 200px;
            }
            .category-desc {
                display: none;
            }
            .category-name {
                color: inherit;
                transition: all 300ms;
                padding: 20px 0;
            }
            &:hover {
                background: #fafafa;
                img {
                    background: white;
                }
            }
        }
    }
}


footer {
    margin: 0;
    background: black;
    color: white !important;
    font-variant-caps: small-caps;
    text-align: center;
    .contact {
        padding: 0;
        a {
            color: white;
            text-decoration: none;
            &:focus,
            &:active,
            &:hover {
                color: white;
            }
        }
    }
    .icon {
        color: black;
        margin-right: 10px;
        padding: 7px 10px;
        background: #fff;
        border-radius: 50%;

    }
    .icon.fa-twitter {
        padding: 7px 7px;
    }
    .icon.fa-instagram {
        padding: 7px 8px;
    }
    .icon.fa-phone {
        padding: 7px 9px;
    }
    .icon.fa-envelope {
        padding: 7px 7px;
    }
    .icon.fa-map-marker {
        padding: 7px 10px;
    },
    .links {
        a {
            color: white;
            &:hover, &:focus, &:active {
                color: white;
                outline: 0;
            }
        }
    }
}



.img-gallery {
     .slick-slide {
        padding-left: 40px;
        padding-right: 40px;
        img {
            width: 100%;
            height: 80vh;
        }
    }
    .slick-prev {
        height: auto;
        width: auto;
        z-index: 1;
        display: none;
        left: 3%;
        &:before {
            content: "\f060";
            font: 40px/1 FontAwesome !important;
            font-size: 40px;
        }
    }
    .slick-next {
        height: auto;
        width: auto;
        z-index: 1;
        display: none;
        right: 3%;
        &:before {
            content: "\f061";
            font: 40px/1 FontAwesome !important;
            font-size: 40px;
        }
    }
    .slick-dots {
        li {
            button {
                &:before {
                    font-size: 40px;
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 4%;
    }

}


.section-padding {
    padding-top: 4%;
    padding-bottom: 4%;
}
.section-bg {
    background: #fafafa;
}


.parallax {
    background-image: url('/img/parallax1.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-attachment: fixed;
}

section.products.none {
    padding: 50px;
    font-size: 24px;
}
.products {
    text-align: center;
    background: #fafafa;
    li, ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 24px;
    }
    .heading {
        margin-top: 0;
        color: black;
        font-variant-caps: small-caps;
    }
    .product-wrapper {
        background: white;
        padding: 0 32px 47px 32px;
        border: 1px solid #eee;
        box-shadow: 1px 2px 2px #eee;
        img {
            background: #fafafa;
            width: 200px;
        }
        .product-desc {
            display: none;
        }
        .product-name {
            color: black;
            font-variant-caps: small-caps;
            font-size: 18px;
            padding: 20px 0;
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
        }
        &:hover {
            background: #fafafa;
            img {
                background: white;
            }
        }
    }
}

.pagination {
    display: inline-block;
    li {
        display: inline-block;
    }
}
#searchModal {
    background: rgba(0,0,0,0.7);
}
#searchModal .modal-dialog {
    position: relative;
    top: 40%;
}
#searchModal .form-group {
    display: flex;
    align-items: center;
    margin: 0;
}
#search-inpt {
    width: 200px;
}


.story {
    z-index: 1;
    position: relative;
    text-align:center;
    padding-left: 24%;
    padding-right: 24%;
    .welcome,
    .heading {
        color: black;
        font-variant-caps: small-caps;
    }
    .heading {
        padding-bottom: 10px;
    }
    .body {
        font-size: 18px;
    }
}

.contact {
    footer {
        display: none;
    }
}
.category {
    text-align: center;
    font-variant-caps: small-caps;
    padding-bottom: 40px;
    margin-top: 25px;
    .row {
        margin: 0;
    }
    .wrapper {
        border: 1px solid #ccc;
        li {
            a {
                color: inherit;
                font-size: 18px;
                text-decoration: none;
                font-variant-caps: small-caps;
                &:hover,
                &:active,
                &:focus {
                    color: inherit;
                    font-weight: 600;
                }
            }
        }
    }
}

.product-single {
    background: #fafafa;
    text-align: center;
    border: 1px solid #ccc;
    background: white;
    margin-bottom: 40px;
    margin-top: 25px;
    .item-name {
        padding: 8px 0 28px 0;
    }
    .item {
        padding: 0 60px 60px 60px;
        .specs {
            .row {
                margin: 0;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

.crumb-wrapper {
    padding: 20px 0;
}
.item-heading-wrapper {
    padding: 20px 0;
    border-bottom: 4px double #ccc;
    margin-bottom: 20px;
}

.item-description {
    overflow: hidden;
    padding-bottom: 30px;
}

.item-img {
    padding: 30px;
    background: white;
    box-shadow: 3px 2px #fafafa, -3px -2px #fafafa;
    width: 100%;
}

.item-name {
    font-size: 24px;
    font-variant-caps: small-caps;
}

.crumbs {
    text-align: left;
    .crumb {
        text-decoration: none;
        color: black;
        font-variant-caps: small-caps;
        &:hover,
        &:active,
        &:focus {
            color: inherit;
            font-weight: 600;
        }
    }
}

.carousel {
    color: black;
    font-variant-caps: small-caps;
    padding: 40px 12%;
    margin-bottom: 60px;
    .carousel-indicators {
        overflow: hidden;
        bottom: -20px;
        li {
            max-width: 162px;
            height: 50px;
            opacity: 0.5;
        }
        li.active {
            opacity: 1;
        }
    }
    .carousel-inner {
        img {
            height: 50%;
            width: 100%;
            background-size: 100% 100%;
        }
    }
    .fa-arrow-left,
    .fa-arrow-right {
        background: rgba(128, 128, 128, 0.39);
        padding: 20px;
    }
}
.specs {
    padding: 0 40px;
    .specs-heading {
        padding: 20px 0;
        background: #f9fafb;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
}


/* admin pages */
.table-responsive,
.edit-story table,
.edit-story td,
.edit-story th,
.edit-category table,
.edit-category td,
.edit-category th {
    border: 0 !important;
}
.show-category table,
.show-category td,
.show-category th {
    border: 0 !important;
}
.stories .update,
.categories .update {
    margin-right: 20px;
}
.edit-story textarea,
.stories textarea {
    height: 350px;
}
.form-dummy {
    margin-top: 6px;
}
.stories {
    h4 {
        display: inline-block;
        padding-right: 20px;
    }
    .add-story {
        float: right;
    }
    .search-form {
        text-align: center;
        margin: 20px 0;
    }
    th {
        a {
            color: #333;
        }
    }
    #title-dummy {
        color: #eee;
        padding: 0 13px;
    }
}
.ta-c {
    text-align: center;
}
.ta-r {
    text-align: right;
}
.ta-l {
    text-align: left;
}
.share-btns a {
    text-decoration: none;
}
.contact .share-btns a,
.contact .share-btns .fa {
    color: black;
}
.product-single .share-btns .fa {
    color: black;
}
.share-btns .fa {
    color: white;
    padding: 0 10px;
    transition: transform 500ms;
    transform: scale3d(1,1,1);
}
.share-btns .fa:hover {
    transition: transform 300ms;
    transform: scale3d(2,2,2);
}
.dropdown-menu {
    border-radius: 0;
}
.admin {
    padding-top: 90px;
}

/* panel removed from bootstrap 4 */
.panel {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
}

.panel-heading {
    padding-bottom: 20px;
    font-size: 18px;
}
.search-icon {
    color: white;
    font-size: 20px;
    vertical-align: middle;
    padding: 4px 10px;
    transition: background 600ms;
    &:hover {
        background: white;
        color: black;
    }
}

.hero-btn {
    margin-top: 30px;
}
@media (max-width : 767px) {
    .navbar {
        padding: .5rem 1rem;
    }
    .hero-heading {
        font-size: 20px;
        margin-top: 0;
    }
    #search-inpt {
        width: 100%;
    }
    .product-name {
        padding: 12px 0;
        font-size: 14px;
    }
    .product-wrapper img {
        padding: 0;
        width: 140px;
        height: auto;
    }
    .product-wrapper {
        padding: 0;
    }
    .products li {
        margin: 10px;
    }
    .story {
        padding-left: 5%;
        padding-right: 5%;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 15%;
    }
    .section-padding {
        padding: 4%;
    }
    .img-gallery .slick-slide {
        padding-left: 0;
        padding-right: 0;
    }
    .img-gallery .slick-slide img {
        height: auto;
    }
    .feedback {
        padding-top: 1.5rem;
        border-top: 1px solid black;
    }
    .category-name {
        padding: 12px 0;
        font-size: 18px;
    }
    .category-wrapper img {
        padding: 0;
        width: 140px;
        height: auto;
    }
    .category-wrapper {
        padding: 0;
    }
    .categories li {
        margin: 10px;
    }
    .product-single .item {
        padding: 0;
    }
    .hero-single {
        .hero-wrapper {
            text-shadow: 1px 1px rgb(12, 12, 12);
            font-size: 34px;
            padding-top: 60px;
            .hero-brand {
                padding: 57px 36px;
                .breads_icon {
                    width: 60px;
                }
                .logo_icon {
                    width: 130px;
                }
            }
            .hero-btn {
                font-size: 1rem;
            }
        }
    }
    .search-wrapper {
        display: block;
    }
    .default.category2 {
        main {
            background-size: auto 100%;
            .category {
                top: 80px;
            }
        }
    }
    /*.search-icon {
        position: absolute;
        right: 80px;
        top: 12px;
        font-size: 24px;
        padding: 8px 10px;
        border: 1px solid;
        border-radius: 4px;
    } */
}
