body {
	width: 595px;
	height: 892px;
}
.bg-yellow {
	background: yellow;
}
u {
	color: #00ffe0;
	text-decoration: none;
}
.brand-icon {
	/*width: 80px;*/
	width: 72px;
}
.brand-icon2 {
	width: 124px;
}
.brand-text {
	width: 130px;
}
.fz-12 {
	font-size: 12px;
}
.fz-14 {
	font-size: 14px;
}
.fz-1-8rem {
	font-size: 1.8rem;
}
.fz-3rem {
	font-size: 3rem;
}
.fz-1-4rem {
	font-size: 1.4rem;
}
.fz-1-23rem {
	font-size: 1.23rem;
}
.fz-0-7rem {
	font-size: 0.7rem;
}
.fa-phone,
.fa-envelope {
	color: #fb944d;
}
main img {
	width: 70px;
}
main img.main-icon {
	width: 100%;
	margin-top: 20%;
}
.bd-6 {
	border: 6px solid white;
}
.bg-f7f7f7 {
	background: #f7f7f7;
}
.p-0 {
	padding: 0;
}
.brand-wrapper {
/*	border: 3px solid white;
	border-radius: 50%;
	padding: 25px 0; */
}